trigger:
  batch: true
  branches:
    include:
    - '*'
  paths:
    exclude:
      - "*.md"
pr:
  paths:
    exclude:
      - "*.md"

jobs:

- job: 'Test'
  strategy:
    matrix:
      Python36Linux:
        imageName: 'ubuntu-20.04'
        python.version: '3.6'
      Python37Windows:
        imageName: 'windows-latest'
        python.version: '3.7'
      Python38Mac:
        imageName: 'macos-latest'
        python.version: '3.8'
      Python39Linux:
        imageName: 'ubuntu-latest'
        python.version: '3.9'
      Python310Windows:
        imageName: 'windows-latest'
        python.version: '3.10'
      Python311Mac:
        imageName: 'macos-latest'
        python.version: '3.11'
    maxParallel: 4
  pool:
    vmImage: $(imageName)

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'

  - script: |
      python -m pip install --upgrade build pip setuptools
      pip install -r requirements.txt
    displayName: 'Install dependencies'

  - script: python -m build --sdist
    displayName: 'Build sdist'

  - task: DeleteFiles@1
    inputs:
      contents: "spacy_alignments"
    displayName: "Delete source directory"

  - script: |
      pip freeze > installed.txt
      pip uninstall -y -r installed.txt
    displayName: "Uninstall all packages"

  - bash: |
      SDIST=$(python -c "import os;print(os.listdir('./dist')[0])" 2>&1)
      python -m pip install dist/$SDIST
    displayName: 'Install from sdist'

  - script: |
      pip install -r requirements.txt
      python -m pytest --pyargs spacy_alignments
    displayName: 'Run tests'
